# You can use this file to create a conda environment for this pipeline:
#   conda env create -f environment.yml
name: czbiohub-unsplicedcds
channels:
  - conda-forge
  - bioconda
  - defaults
dependencies:
  # TODO nf-core: Add required software dependencies here
  - bioconda::fastqc=0.11.8
  - bioconda::multiqc=1.7
  - conda-forge::r-markdown=1.1
  - conda-forge::r-base=3.6.1
  - samtools=1.9
  - bedtools=2.29.0
  - bioconda::bioawk=1.0
